html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --main-backgroud: #e5e5e5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

button {
  border: 1px solid transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

body {
  font-family: "Roboto", "Open Sans", sans-serif;
  color: #212121;
}

.header {
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ececec;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header > .header__container {
  display: flex;
  align-items: center;
}

.navigation__link,
.contacts__mail,
.contacts__tel {
  text-decoration: none;
}

.navigation__list {
  display: flex;
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.header__logo {
  margin-right: 88px;
}
@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.contacts {
  margin-left: auto;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 1199px) {
  .contacts {
    flex-direction: column;
    gap: 10px;
    margin-left: 84px;
  }
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.navigation__link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation__link:hover, .navigation__link:focus {
  color: var(--accent-color);
}

.contacts__mail,
.contacts__tel {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--text-color);
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__mail:hover, .contacts__mail:focus,
.contacts__tel:hover,
.contacts__tel:focus {
  color: var(--accent-color);
}
@media screen and (min-width: 1200px) {
  .contacts__mail,
.contacts__tel {
    font-size: 14px;
    line-height: 1.33;
  }
}

ul {
  list-style: none;
}

.logo {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #2196f3;
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 31px;
  }
}

.studio {
  color: #000000;
}

.current {
  position: relative;
}
.current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  left: 0;
  bottom: -34px;
}
@media screen and (min-width: 1200px) {
  .current::after {
    bottom: -33px;
  }
}

.navigation__list .navigation__link.current {
  color: #2196f3;
}

.title {
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img_main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.title-item {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6153846154;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .title-item {
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.title-btn {
  border-radius: 4px;
  padding: 10px 32px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  display: block;
  min-width: 200px;
  margin: 30px auto 0;
}

.description {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .description {
    padding-top: 94px;
  }
}

.description-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.description-item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .description-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .description-item {
    width: calc((100% - 90px) / 4);
  }
}

.description-title {
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-color);
}
@media screen and (min-width: 768px) {
  .description-title {
    text-align: left;
  }
}

.description-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.description-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/clock.svg);
}

.icon-diagram::before {
  background-image: url(../images/diagram.svg);
}

.icon-astronaut::before {
  background-image: url(../images/astronaut.svg);
}

.work {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .work {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

.work-image-jpg {
  position: relative;
}

.work-title {
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
  text-align: center;
}

.work-image {
  display: flex;
  gap: 30px;
}

.team {
  background: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-title {
  font-size: 28px;
  line-height: 1.1785714286;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .team-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.team-item {
  width: 100%;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .team-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: calc((100% - 90px) / 4);
  }
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 30px;
  text-align: center;
}

.team-work-position {
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 10px;
  margin-bottom: 16px;
  text-align: center;
}

.socials__icon {
  fill: currentColor;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.clients-log-item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients-log-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-log-item {
    width: calc((100% - 180px) / 6);
  }
}

.clients-titel {
  font-size: 28px;
  line-height: 1.1785714286;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .clients-titel {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.1666666667;
  }
}

.clients-icon-link {
  width: 100%;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon-link:hover, .clients-icon-link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients-icon-log {
  fill: currentColor;
}

.ftr {
  width: 100%;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer-list {
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-list {
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .address-wrap {
    padding-left: 61px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .accession-wrap {
    padding-top: 5px;
    padding-right: 74px;
  }
}

.logo {
  display: flex;
  justify-content: center;
}

.logo__studio {
  color: #ffffff;
}

.address__contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-top: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1199px) {
  .address__contacts {
    align-items: center;
  }
}

.address__mail {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__mail:hover, .address__mail:focus {
  color: var(--accent-color);
}

.mail {
  margin-top: 9px;
}

.tel {
  margin-top: 9px;
}

.address__tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__tel:hover, .address__tel:focus {
  color: var(--accent-color);
}

/* -------footer-links--------- */
.footer {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .footer {
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-links {
    margin: 12px 0px 0px 70px;
  }
}

.accession {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .accession {
    padding-top: 0px;
  }
}

.accession__text {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.networks__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.networks__link:hover, .networks__link:focus {
  background-color: #2196f3;
}

.networks__icon {
  fill: currentColor;
}

.networks {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* ----footer-subscription ----- */
@media screen and (min-width: 1200px) {
  .ftr-subscription {
    margin: 12px 0px 0px auto;
  }
}
@media screen and (max-width: 1199px) {
  .ftr-subscription {
    padding-top: 60px;
  }
}

.subscription__text {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (min-width: 1200px) {
  .subscription__text {
    justify-content: left;
  }
}

.subscription__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  cursor: pointer;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
}
@media screen and (min-width: 480px) {
  .subscription__input {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .subscription__input {
    display: flex;
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1200px) {
  .subscription__input {
    max-width: 358px;
    margin-right: 12px;
  }
}

.subscription__wrap {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
@media screen and (max-width: 1199px) {
  .subscription__wrap {
    display: block;
    flex-direction: column;
  }
}

.subscription__push {
  display: flex;
  align-items: center;
  margin: 20px auto 0;
  border-radius: 4px;
  padding: 10px 28px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 200px;
}
@media screen and (min-width: 1200px) {
  .subscription__push {
    margin-top: 0;
  }
}

.subscription__icon {
  margin-left: 10px;
  fill: #ffffff;
}

.main-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  margin-bottom: 50px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.filter-button {
  font-family: "Roboto";
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  border-radius: 4px;
  display: block;
  min-width: 73px;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover, .filter-button:focus {
  cursor: pointer;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.blocks {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.block-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.block-group {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
}

.block-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  background: #ffffff;
}

.block-list {
  width: calc((100% - 60px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.block-list:hover, .block-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.block-list-wrap {
  position: relative;
  overflow: hidden;
}

.block-top-text {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.block-list:hover .block-top-text {
  transform: translateY(0%);
}
.block-list:focus .block-top-text {
  transform: translateY(0%);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.modal {
  width: 528px;
  padding: 40px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button__close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__button__close:hover {
  fill: #2196f3;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus {
  border-color: var(--accent-color);
}

.modal__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__text {
  cursor: pointer;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__text:focus {
  border-color: var(--accent-color);
}
.modal__text::placeholder {
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.check__text {
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
.check__text {
  display: flex;
  align-items: center;
}

.check__place {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-wrap {
  margin-left: 12px;
}

.check__link {
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__push {
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 200px;
  margin: 30px auto 0;
}

.modal__input__svg {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.check__icon {
  fill: transparent;
}

.check__input:checked + .check__text .check__place {
  background-color: var(--accent-color);
  border: none;
}

.check__input:checked + .check__text .check__icon {
  fill: #ffffff;
}/*# sourceMappingURL=main.css.map */