.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(0);
}

.modal {
  width: 100%;
  padding: 40px;
  min-height: 609px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: 480px) {
      width: 450px;
      min-height: 609px;
    }
  @media screen and (min-width: 1200px) {
      width: 528px;
      min-height: 581px;
    }
}

.modal__button__close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    fill: #2196f3;
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__titel {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  margin-bottom: 12px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
}

.modal__label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__text {
  cursor: pointer;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  margin-bottom: 20px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus {
    border-color: var(--accent-color);
  }
  &::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.check__text {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.03em;
  color: #757575;
  & {
    display: flex;
    align-items: center;
  } 
    @media screen and (min-width: 1200px) {
      font-size: 14px;
        line-height: calc(24 / 14);
        
    }
}
.check__place {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-text-mod{
display: flex;
@media screen and (max-width: 479px) {
    flex-wrap: wrap;
  }

}

.check-wrap {
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
    }
}

.check__link {
  text-decoration-line: underline;
  color: #2196f3;
}

.modal__push {
  border-radius: 4px;
  padding: 10px 55px;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 200px;
  margin: 30px auto 0;
}

.modal__input__svg {
  position: relative;
  margin-top: 4px;
  margin-bottom: 10px;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.check__icon{
  fill: transparent;
}

.check__input:checked + .check__text .check__place {
  background-color: var(--accent-color);
  border: none;
}

.check__input:checked + .check__text .check__icon {
  fill: #ffffff;
}
